* {
    margin: 0%;
    padding: 0%;
}

body {
    font-family: 'Playfair Display', serif;
}

.nav-item :nth-child(1) {
    margin-left: 40px;
}

.main {
    background-color: rgb(241, 245, 249);
    width: 100%;
    height: 100vh;
    display: flex;

}

.left {
    width: 50%;
    height: 100vh;
    margin-top: 5%;
    padding-left: 4%;

}

.left span {
    color: goldenrod;
}

.left h1 {
    padding: 2%;
    font-size: 90px;
}

.left h5 {
    padding: 2%;

}

.left p {
    padding: 3%;
}

.left a {
    color: goldenrod;
    padding-left: 4%;
}

.left a:hover {
    color: black;
}

.right {
    padding: 3%;
    height: 100%;
    width: 45%;
    background-color: rgb(234, 232, 232);
    transform: rotate(-10deg);
    /* position: relative; */

}

.right>img {
    width: 100%;
    height: 100%;
    /* position: absolute; */
    transform: rotate(10deg);
}

.showing h1 {
    font-size: 80px;
    position: relative;
}

.showing p {
    position: relative;

}


.img-fluid0 {
    box-shadow: 5px 15px 20px rgb(129, 129, 129);
    transition: transform .3s;

}

.img-fluid:hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.main1 {
    width: 100%;
    height: 100vh;
    display: flex;

}

.left1 {
    height: 100%;
    width: 50%;
}

.left1>img {
    width: 100%;
    height: 100%;
    padding-left: 4%;

}

.right1 {
    width: 50%;
    height: 100vh;
    margin-top: 7%;
    padding-left: 9%;

}

.right1 span {
    color: goldenrod;
}

.right1 h1 {
    padding: 2%;
    font-size: 70px;
}

.right1 h5 {
    padding: 2%;
}

.right1 p {
    padding: 3%;
}

.right1 a {
    color: goldenrod;
    padding-left: 4%;
}

.right1 a:hover {
    color: black;
}

.Future h1 {
    padding-top: 5%;
    font-size: 80px;
}

.card {
    padding-left: 10%;
    border-style: none;
    padding-bottom: 5%;
    padding-top: 5%;
}

.col-md-4 {
    padding-left: 5%;

}

.img-fluid {

    box-shadow: 10px 20px 25px rgb(158, 157, 157);
}

.col-md-5 {
    padding-left: 2%;
}

.me {
    background-color: goldenrod;
    color: white;
    height: 20vh;
    width: 60%;
    text-align: center;
}
.EventRow>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* footer*/
ul {
    margin: 0px;
    padding: 0px;
}

.footer-section {
    background: #151414;
    position: relative;
}

.footer-cta {
    border-bottom: 1px solid #373636;
}

.cta-text {
    padding-left: 15px;
    display: inline-block;
}

.cta-text h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
}

.cta-text span {
    color: #757575;
    font-size: 15px;
}

.footer-content {
    position: relative;
    z-index: 2;
}

.footer-text p {
    margin-bottom: 14px;
    font-size: 14px;
    color: #7e7e7e;
    line-height: 28px;
}

.footer-widget-heading h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
}

.footer-widget-heading h3::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width: 50px;
    background: goldenrod;
}

.footer-widget ul li {
    display: inline-block;
    float: left;
    width: 50%;
    margin-bottom: 12px;
}

.footer-widget ul li a:hover {
    color: goldenrod;
}

.footer-widget ul li a {
    color: #878787;
    text-transform: capitalize;
}

.footer-logo h1 {
    color: goldenrod;
}

.subscribe-form {
    position: relative;
    overflow: hidden;
}

.subscribe-form input {
    width: 100%;
    padding: 14px 28px;
    background: #2E2E2E;
    border: 1px solid #2E2E2E;
    color: #fff;
}

.subscribe-form button {
    position: absolute;
    right: 0;
    background: goldenrod;
    padding: 13px 20px;
    border: 1px solid goldenrod;
    top: 0;
}

.subscribe-form button i {
    color: #fff;
    font-size: 22px;
    transform: rotate(-6deg);
}

.copyright-area {
    background: #202020;
    padding: 25px 0;
}

.copyright-text p {
    margin: 0;
    font-size: 14px;
    color: #878787;
}

.copyright-text p a {
    color: goldenrod;
}

.footer-menu li {
    display: inline-block;
    margin-left: 20px;
}

.footer-menu li:hover a {
    color: goldenrod;
}

.footer-menu li a {
    font-size: 14px;
    color: #878787;
}

.new5 {
    border: 1px solid goldenrod;
    border-radius: 1px;
}